.titulo-solar {
    background-color: rgba(255, 160, 122, 0.349);
    text-align: center;
}

body {
    background-color: rgba(119, 136, 153, 0.226);
}

div img .imagen-index {
    width: 100px;
}



.carrusel{
    width: 35%;
    margin-bottom: 20px;
}


h5 {
    color: rgb(106, 168, 204);
    font-weight: bolder;
    text-decoration: underline;
}

p {
    color: black;
    font-style: italic;
    font-size: medium;
}

/* -------------------------------- Preguntas ------------------------------- */

.pregunta{
    color: rgb(12, 12, 141);
    font-size: small;
    margin: 10px 0;
}

.consulta{
    margin-top: 30px;

}


/* -------------------------------- Contacto -------------------------------- */
.boton{
display: flex;
justify-content: flex-end;
margin: 20px;
}





/* --------------------------------- footer --------------------------------- */
.footer {
    background-color: lightblue;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-instagram {
    width: 20%;

}



.logo-facebook {
    width: 20%;
    float: right;
}