.titulo-solar {
    background-color: rgba(255, 160, 122, 0.349);
    text-align: center;
}

body {
    background-color: rgba(119, 136, 153, 0.226);
}

div img .imagen-index {
    width: 100px;
}

.footer {
    background-color: lightblue;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-instagram {
    width: 20%;

}



.logo-facebook {
    width: 20%;
    float: right;
}